<div class='header'>
    <div class='topic-header'>
        <h3>JWT Authentication Using Nodejs and Angular 9</h3>
    </div>
</div>
<div class='form-body'>
    <div class='form'>
        <div>
            <h4>Sign In</h4>
            <hr>
            <label>Name</label>
            <input type="text"><br><br>
            <label>Password</label>
            <input type="password"><br><br>
            <button (click)="login()">Sign In</button>
            <button (click)="welcome()">Welcome</button>
        </div>
    </div>    
</div>

