<div class='header'>
    <div class='topic-header'>
        <h3>JWT Authentication</h3>
    </div>
</div>



<div class='main'>
    <div class='main-body'>
        <div class='text-body'>
            <div class="welcome-header">
                <h3>{{welcomeData}}</h3>
            </div>
            <div class="welcome-body">
                You are authenticated using JWT Authentication
                <br>
                Check localStorage to see your token!
            </div>
        </div>  
    </div>    
</div>
